What side would you like with your <%=sandwich%> sandwich?

<form method="post" action="side">
    <input type="text" name="side">
    <input type="hidden" name="sandwich" value=<%=sandwich%>>
    <br>
    <br>
    <input type="submit">
</form>

